.Rproj.user
.Rhistory
.RData
.Ruserdata

# 'data' folder #
data/

# Common text files that may contain data #
*.[cC][sS][vV]

# Excel files #
*.[xX][lL][sS][xX]

# SPSS formats #
*.[sS][aA][vV]

# R data files #
*.[rR][dD][aA][tT][aA]
*.[rR][dD][sS]